@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* PhoneInput styling */
.phone-input-container .PhoneInput {
  display: flex;
  align-items: center;
}

.phone-input-container .PhoneInputInput {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #545454;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #020202 !important;
  /* background-color: white; */
}

.phone-input-container .PhoneInputInput::placeholder {
  color: #545454 !important;
  opacity: 1;
}

.phone-input-container .PhoneInputInput:focus {
  outline: none;
  ring: 2px;
  ring-color: #BE968E;
  border-color: #BE968E !important;
}

.phone-input-container .PhoneInputCountry {
  margin-right: 0.5rem;
}

.phone-input-container .PhoneInputCountryIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.phone-input-container .PhoneInputCountrySelect {
  color: #020202 !important;
  background-color: white;
  border: 1px solid #545454;
  border-radius: 0.375rem;
  padding: 0.25rem;
}

.phone-input-container .PhoneInputCountrySelect:focus {
  border-color: #BE968E;
  outline: none;
  ring: 2px;
  ring-color: #BE968E;
}

.phone-input-container .PhoneInputCountrySelectArrow {
  color: #545454 !important;
  opacity: 1;
}
